* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    color: beige;
    background: url(../img/wallhaven-2em38y.jpg);
    background-size: 100%;
}

.search-box {
    position: absolute;
    width: 40%;
    height: 80px;
    top: 25%;
    left: 30%;

}

.search-engine {
    position: absolute;
    width: 100%;
    left: 15%;
}

.engine-list {
    position: absolute;
    list-style: none;
    width: 100%;
}

.engine-list li {
    float: left;
    margin-left: 25px;
}

.engine-list li:hover {
    font-size: larger;
    cursor: pointer;
}

#search {
    position: absolute;
    width: 80%;
    height: 35px;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 50px;
    left: 10%;
    bottom: 10%;
}

#search-content {
    position: absolute;
    left: 5%;
    top: 10%;
    border: none;
    height: 25px;
    font-size: 20px;
    outline: none;
    background: none;
}

#search-btn {
    position: absolute;
    top: 8%;
    right: 1%;
    background: none;
    border: none;
    height: 25px;
    outline: none;
    cursor: pointer;
}

#time {
    position: absolute;
    font-family: sans-serif;
    color: beige;
    font-size: 60px;
    top: 10%;
    width: 100%;
    text-align: center;
}

#mode {
    position: absolute;
    width: 2%;
    right: 3%;
    top: 5%;
    cursor: pointer;

}

.parter {
    position: absolute;
    width: 16%;
    height: 16%;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    display: none;
}

.parter1 {
    left: 2%;
    top: 60%;
}

.parter2 {
    left: 22%;
    top: 60%;
}

.parter3 {
    left: 42%;
    top: 60%;
}

.parter4 {
    left: 62%;
    top: 60%;
}

.parter5 {
    right: 2%;
    top: 60%;
}
iframe{
    position: absolute;
    top: 10%;
    overflow: hidden;
}